.movies {
    background-color:  var(--black-color);
    padding-bottom: 50px;
    margin-top: -5px;

    h2 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        color: var(--white-color);
        padding: 40px 0 40px 20px;
    }
}

#movies-page {
    min-height: 400px;
    
    .warning {
        display: block;
        text-align: center;
        padding-top: 80px;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.3;
        color: var(--text-color);
    }
}